@import "variables";

body {
  font-family: $b7-font-family;
  font-size: $b7-default-font-size;
}

.cases-list {
  border-spacing: 0;
  border-collapse: separate;
  tbody {
    td {
      border-color: $b7-table-border-color;
    }
    tr:not(:last-child) td {
      border-bottom: none;
    }
  }
  tbody:nth-child(odd) {
    tr {
      background-color: $b7-light-grey-color;
    }
  }
  .note-preview-row {
    td {
      padding-top: 0;
    }
  }
  .number-of-notes {
    text-align: center;
  }
}
